<div class="row">
    <div class="col-lg-8 col-sm-8" style="background-color: #f3c623; height: 200px;padding-top: 60px;text-align: center;">
        <h2 style="color: red;font-weight: 500;"><b>Blended Flavours</b></h2>
        <p>Available in 3 flavours</p>
    </div>
    <div class="col-lg-4 col-sm-4" style="background-color: #f3c623; height: 200px;border:3px solid white;text-align: center;padding-top: 10px;">
        <h4>Daily Bouquet</h4>
        <p>at free delivery</p>
        <img src="../../../assets/ecommerce/kisspng-organic-food-vegetable-farming-brussels-sprout-bas-a-basket-of-vegetables-5aa2723e1425c4.8400250015205955180825.png" alt="" style="max-height:120px ;">
    </div>
</div>
<div class="row" style="border:3px solid white">
    <div class="col-lg-8 col-sm-12" style="background-color: #f3c623; height: 200px;">
        <img src="../../../assets/ecommerce/download-free-png-ice-cream-gelato-cups-small-12oz-round-ice-cream-cups-with-lids-png-617_483.png" alt="" style="max-height: 160px;width:100%" class="img-responsive"> 
        <p>a wide range of products just start at <span class="disctext">$9</span> </p>
    </div>
    <div class="col-lg-4 col-sm-12" style="background-color: #32CD32; height: 200px;border:3px solid white;text-align: center;padding-top: 10px;">
        <h4>Daily Bouquet</h4>
        <p>at free delivery</p>
        <img src="../../../assets/ecommerce/kisspng-fruit-dietary-fiber-vegetable-food-health-fresh-fruits-5afd8e555e6f62.0749709215265664853868.png" alt="" style="max-height: 120px;">
    </div>
</div>


<div class="row">
    <div class="col-lg-2 col-sm-2" style="margin:5px 5px 5px 5px;">
        <div class="list-group-item clearfix">
            <div class="float-left">
                <img src="../../../assets/ecommerce/spices.png" alt="" style="max-height: 100px;">
            </div>
            <div class="float-right">
                <p>jas & spices</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2"style="margin:5px 5px 5px 5px;">
        <div class="list-group-item clearfix">
            <div class="float-left">
                <img src="../../../assets/ecommerce/fast.png" alt="" style="max-height: 100px;">
            </div>
            <div class="float-right">
                <p>fast food</p>
            </div>
        </div>  
    </div>
    <div class="col-lg-2 col-sm-2"style="margin:5px 5px 5px 5px;">
        <div class="list-group-item clearfix">
            <div class="float-left">
                <img src="../../../assets/ecommerce/drinks.png" alt="" style="max-height: 100px;">
            </div>
            <div class="float-right">
                <p>dairy & drinks</p>
            </div>
        </div> 
    </div>
    <div class="col-lg-2 col-sm-2"style="margin:5px 5px 5px 5px;">
        <div class="list-group-item clearfix">
            <div class="float-left">
                <img src="../../../assets/ecommerce/ice.png" alt="" style="max-height: 100px;">
            </div>
            <div class="float-right">
                <p>ice cream</p>
            </div>
        </div>  
    </div>
    <div class="col-lg-3 col-sm-3"style="margin:5px 5px 5px 5px">
        <div class="list-group-item clearfix"> 
            <div class="float-left">
                <img src="../../../assets/ecommerce/veg.png" alt="" class="img-responsive "style="max-height: 60px; ">
            </div>
            <div class="float-right">
                <p>vegetables</p>
            </div>
        </div> 
    </div>
</div>

<div class="container-fluid" style="background-color: blanchedalmond;">
    
    <div class="toolbar">
        <ul class="toolbar-list">
            <li class="toolbar-item"><a href="#">Recent</a></li>
            <li class="toolbar-item"><a href="#">Featured</a></li>
            <li class="toolbar-item"><a href="#">Top Rated</a></li>
            <li class="toolbar-item"><a href="#">Sale</a></li>
            <li class="toolbar-item"><a href="#">Best Selling</a></li>
            <li class="toolbar-item toolbar-arrow"><i class="fa fa-chevron-left"></i><i
                    class="fa fa-chevron-right"></i></li>
        </ul>
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Sort By <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>


    <div class="row" >
        <div class="row"  style="width: 100%;">
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/70198151151371186716153361908190710779287.png" class="card-img-top"
                        alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card">
                    <img src="../../../assets/ecommerce/kisspng-lemon-meringue-pie-lemon-tart-flavor-herb-lemon-5a74d79b7ea786.7076555815176068115188.png"
                        class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card">
                    <img src="../../../assets/ecommerce/Capture1.PNG" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card">
                    <img src="../../../assets/ecommerce/158-1588342_orange-juice-bottle-png-transparent-png.png" class="card-img-top"
                        alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/5a230a6f98d253.009101081512245871626.png" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/Fabric-Sanitizer-Spray-Front-960-0x500-c-default@2x.png" class="card-img-top"
                        alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/free-png-kiwi-fruit-png-images-transparent-avocado-called-in-hindi-11563644223dcmuksuoff.png"
                        class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/158-1588342_orange-juice-bottle-png-transparent-png.png" class="card-img-top"
                        alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="continer"  style="width: 100%;padding-top: 10px;">
            <div class="ads ">
                <div class="adtext">
                    <p>Flat <span class="disctext">30% OFF</span> on first order</p>
                    <p>Your order takes 30 minutes to deliver</p>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/419-4191808_lichi-png.png" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/70198151151371186716153361908190710779287.png" class="card-img-top"
                        alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card" >
                    <img src="../../../assets/ecommerce/kisspng-lemon-meringue-pie-lemon-tart-flavor-herb-lemon-5a74d79b7ea786.7076555815176068115188.png"
                        class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3" style="width: 25%;">
                <div class="card">
                    <img src="../../../assets/ecommerce/Capture1.PNG" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Item 1</h5>
                        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="price">$5.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







      
     






           
<div class="row" style="margin: 20px,20px;">
    <p>news</p>
</div>
<div class="row" style="background-color: white;">
    <div class="col-lg-4 col-sm-4" style="width: 33.3%;">
        <img src="../../../assets/ecommerce/photo-1486590868314-c6c18732d981.jfif" alt="" class="img-responsive" style="max-height: 150px;max-width: 100%;">
        <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    <div class="col-lg-4 col-sm-4" style="width: 33.3%;">
        <img src="../../../assets/ecommerce/peru-chiclayo-fruit-market-C426KT.jpg" alt="" class="img-responsive" style="max-height: 150px;max-width: 100%;">
        <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing </p>
    </div>
    <div class="col-lg-4 col-sm-4" style="width: 33.3%;">
        <img src="../../../assets/ecommerce/419-4191808_lichi-png.png" alt="" class="img-responsive" style="max-height: 150px;max-width: 100%; margin-bottom:9px;">
        <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing </p>
    </div>
</div>

<div>
    verification
</div>


