<footer class="footer">
        <div class="footer-container">
            <div class="container">
                <h2>About Store</h2>
                <p>Claritas processus dynamicus sequitu consut,consut ryethmm sirter smreted aeurects.</p>
            </div>
            <ul class="footer-nav">
                <h2>Extra Links</h2>
                <p>Blogs</p>
                <p>Wishlist</p>
                <p>Cart</p>
                <p>Shop</p>
            </ul>
            <ul class="footer-secondary-nav">
                <h2>Store Information</h2>
                <p><img src="../../assets/ecommerce/kisspng-paper-google-map-maker-computer-icons-world-map-location-icon-5abbd6d932c7f0.286533631522259673208.PNG" alt="googlemap" class="logo" style="width: 6%;">  My Company Pvt Limited,</p>
                <p> My Comapny,42 Puffin Street 12345</p>
                <p> Puffine France</p>
                <p><img src="../../assets/ecommerce/kisspng-computer-icons-mobile-phones-telephone-call-icon-d-phone-icon-5abf145b7f8de6.5771346015224720275225.PNG" alt="phone" class="logo" style="width: 6%;"> 0123-456-789</p>
                <h5><img src="../../assets/ecommerce/kisspng-ipma-email-telephone-message-email-icon-5acf36458d39e5.4305648115235292855785.PNG" alt="email" class="logo" style="width: 8%;"> sales@yourcomapy.com</h5>
            </ul>
           
            <div class="newsletter">
                <div class="newsletter-text">
                    <!--<div class="icon">
                        <i class="fas fa-paper-plane"></i>
                    </div>-->
                    <p>
                        Subscribe to our Newsletter
                    </p>
                </div>
                <div class="text-input">
                    <form action="post">
                        <input type="email" name="Enter Your Email Address" size="20" placeholder="email">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="payment-block">
                <h3>Accepted Payment Methods</h3>
                <img src="../../assets/ecommerce/visa.PNG" alt="visa" class="logo" style="width: 20%;">
                <img src="../../assets/ecommerce/paypal.PNG" alt="paypal" class="logo" style="width: 20%;">
                <img src="../../assets/ecommerce/american-express.PNG" alt="a-express" class="logo" style="width: 20%;">
            </div>
        </div><!-- .footer-container -->
    </footer><!-- .footer -->
    <div class="bottom-line">
        &copy; 2016-Ecommerce software by WooCommerce<sup>TM</sup>
    </div><!-- .bottom-line -->