<div class="footer">
    <div class="footer-content">
       <div class="footer-section about">
          <h2>About Store</h2>
          <p>Claritas processus dynamicus sequitu consut,consut ryethm sirter smreted aeurects.</p> 
       </div> 
       <div class="footer-section links">
           <h2>Extra Links</h2>
           <p>Blogs</p>
           <p>Wishlist</p>
           <p>Cart</p>
           <p>Shop</p>
       </div> 
       <div class="footer-section information">
           <h2>Store Information</h2>
           <p>My Company Pvt Limited,</p>
           <p>My Comapny,42 Puffin Street 12345</p>
           <p>Puffine France</p>
           <p><span class="glyphicon glyphicon-earphone"></span>0123-456-789</p>
           <h5><span class="glyphicon glyphicon-envelope"></span>sales@yourcomapy.com</h5>
       </div>
       <div class="footer-section subscribe">
           <h2>Subscribe to our Newsletter</h2>
           <button type="submit">
               <input  class="input-text" type="text" name="email" placeholder="email"><span class="glyphicon glyphicon-ok"></span>OK
           </button>
       </div>   
    </div> 
    
    <h3>Accepted Payment Methods</h3>
    <div class="footer-bottom">
        &copy; 2016-Ecommerce software by WooCommerce<sup>TM</sup>
        <div class="footer-social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-snapchat-ghost"></a>
        </div>
    </div> 
 </div>
