* { 
    padding: 0;
    margin: 0; 
}
 li { 
     list-style-type: none; 
}
 a { 
     text-decoration: none; 
    } 
 body { 
     font-family: 'Lato', sans-serif;
     }
 h1, h2, h3, h4, h5, h6 { 
     font-family: 'Merriweather', serif; 
     color: white;
    } 
.footer { 
    color: #fff; 
    background:green;
    padding: 4em 0;
 }
 .footer { 
     display: grid; 
     grid-template-columns: 7vw 1fr 7vw;
    grid-template-rows: auto auto; 
    }
.footer-container { 
    grid-column: 2 / 3;
 }
 .footer-container { 
     grid-column: 2 / 3; 
     display: grid; /* ACTING AS A GRID CONTAINER */ grid-template-columns: 3fr 3fr 3fr 3fr; grid-template-rows: auto auto;
     grid-template-areas: "container navigation secondary newsletter" "paymeny.payment payment"; 
    }
.bottom-line{
    background-color: darkgreen;
    color: white;
    text-align: center;
}
    @media screen and (min-width: 960px) { .footer { height: 45vh; } }
    @media screen and (max-width: 960px) { 
     .footer-secondary-nav,.payment-block,.footer-nav { display: none;}
     .bottom-line p { justify-self: center; }
     .legal { grid-column: 2 / -2; justify-items: center; }
    }
    @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css")