<head>
<style>
    li{
        padding: 0.5rem 0;
        color: grey;
    }
    @media(max-width:500px){
        #element1{
            display: none;
            
        }
        #element2{
            display: none;
        }
        #element3{
            display: none;
        }
        #element5{
            display: none;
        }
        .item2{
            margin-top:1rem;
        }
    }
    @media(min-width:501px){
        #btn1{
            display: none;
        }
        #btn2{
            display: none;
        }
        #btn3{
            display: none;
        }
        #btn4{
            display: none;
        }
        #btn5{
            display: none;
        }
        .collapse{
            display: block!important;
        }
    }
</style>
</head>
<body>
    <section id="categories">
        <div class="container" style="padding:1rem 0;">
            <div class="main-sidebar">
                <div class="sidebar" style="background: white;padding: 0.5rem;margin-right: 1rem;">
                    <div id="element1" style="padding: 0.5rem 0 0.5rem;font-size: 1.5rem;color: #333;">Categories</div>
                    <button id="btn1" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" style="width: 100%">Categories</button>
                    <div id="demo" class="collapse">
                        <ul>
                        <li>Grocery</li>
                        <li>Spices & Masalas</li>
                        <li>Sweets</li>
                        <li>Fruits</li>
                        <li>Vegetables</li>
                        <li>Gourment</li>
                        <li>Sweets</li>
                        <li>Beverages</li>
                        <li>Pickels</li>
                        <li>Shortcodes</li>
                        <li>Blogs</li>
                        </ul>
                        <div class="p1" style="background: rgb(63, 186, 141);">
                        <div style="padding: 1rem;margin-bottom: 0.5rem;max-width:114px;padding-right:0">
                            <div style="font-size: 12px;">Healthy</div>
                            <div style="font-size: 20px;">Vegetables</div>
                            <div style="font-size: 12px; float: right;">Seasonal</div>
                        </div>
                        <img src="../../assets/ecommerce/Fruits.PNG" alt="" style="width: 70%;">
                        <div style="padding: 1rem;margin-bottom: 0.5rem;padding-right:0">
                            <div style="font-size: 12px; float: right;color: white;margin-right:0.5rem;margin-bottom: 0.5rem;">
                            <span>Code</span> <span style="padding:0.2rem">FLAT20</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        <!------------------------------------------------------------------------------------------------------------->
                <div>
                <div style="background: white;padding: 0.5rem;margin-right: 1rem;margin-top:2px;">
                    <button id="btn4" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo4" aria-expanded="false" aria-controls="#demo2" style="width: 100%;">Services</button>
                </div>    
                <div id="demo4" class="collapse">           
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/kisspng-surf-fishing-gift-child-fishing-rods-stuffed-anima-shipping-icon-5b4e078fba1924.1627191315318403997623.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">Free Shipping</span><br><span style="font-size: 11px;color: grey;">Deliver to door</span>
                        </div>

                </div>
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/kisspng-call-centre-customer-service-callcenteragent-busin-5b2fcb689d0be4.5887676615298589206433.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">24*7 Support</span><br><span style="font-size: 11px;color: grey;">in safe hands</span>
                        </div>

                </div>
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/5a1ca3f1367d11.9160316715118264172232.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">Big Saving</span><br><span style="font-size: 11px;color: grey;">at lowest price</span>
                        </div>

                </div>
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/kisspng-money-funding-finance-bank-money-flat-money-png-5ab065ae3a1d04.6325240815215098062381.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">Money Back</span><br><span style="font-size: 11px;color: grey;">Easy to return</span>
                        </div>

                </div>
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/kisspng-shopping-cart-computer-icons-shopping-bags-troll-5ae1c9c9c424d3.9446258715247466978034.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">Online Shopping</span><br><span style="font-size: 11px;color: grey;">a huge branding</span>
                        </div>

                </div>
                <div class="item1" style="display: grid;grid-template-columns: 1fr 3fr;align-items: center;">
                        <img src="../../assets/ecommerce/kisspng-computer-icons-medal-competition-award-award-icon-5b5d9363f032c8.6830089815328592359839.png" alt="" style="width:100%;">
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                        <span style="font-size: 12px;">Award Winner </span><br><span style="font-size: 11px;color: grey;">for best services</span>
                        </div>

                </div>
                </div>
                </div>  
        <!--------------------------------------------------------------------------------------------------------------->
                <div class="item1">
                    <h4 id="element5" style="padding: 0.5rem;padding-left: 0">Testimonials</h4>
                    <button id="btn5" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo5" aria-expanded="false" aria-controls="#demo5" style="width: 100%">Testimonials</button>
                    <div id="demo5" class="collapse">
                    <div class="item2" style="display: grid;grid-template-columns: 2fr 3fr;">
                            <img src="../../assets/ecommerce/3e37a1bd45c70cb972bf95105ba4adc6.jpg" alt="" style="width:100%;">
                            <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 12px;color:gray;">John duff</span><br><span style="font-size: 11px;color: grey;">Producer</span>
                            </div>
                            
                    </div>
                    <div style="font-size: 11px;">
                            <span style="font-size: 11px;color: grey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi...</span>
                    </div>
                    <div style="font-size: 11px;text-align: center;padding: 0.5rem;">
                            <span style="font-size: 20px;color: grey;">< ></span>
                    </div>
                    </div>   
                </div>  
        <!--------------------------------------------------------------------------------------------------------------->                 
                <div class="item1">
                
                    <h4 id="element2" style="padding: 0.5rem;">Top Rated Products</h4>
                    <button id="btn2" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo1" aria-expanded="false" aria-controls="#demo1" style="width: 100%">Top Products</button>
                    <div id="demo1" class="collapse">
                    <div class="item2">
                        <img src="../../assets/ecommerce/kisspng-lemon-meringue-pie-lemon-tart-flavor-herb-lemon-5a74d79b7ea786.7076555815176068115188.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>
                            
                    </div>
                    <div class="item2">
                        <img src="../../assets/ecommerce/SDL911497834-1bd1b.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>  
                    <div class="item2">
                        <img src="../../assets/ecommerce/5a230a6f98d253.009101081512245871626.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>
                    <div class="item2">
                        <img src="../../assets/ecommerce/158-1588342_orange-juice-bottle-png-transparent-png.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>
                    <div class="item2">
                        <img src="../../assets/ecommerce/kisspng-kyoho-white-wine-cardinal-grape-5aec3cb880c360.3221667515254314805274.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>                          
                    </div>         

                </div>
                
                
                
                <div class="item1">
                    <h4 id="element3" style="padding: 0.5rem;">Top Rated Products</h4>
                    <button id="btn3" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo2" aria-expanded="false" aria-controls="#demo2" style="width: 100%">Top Products</button>
                    <div id="demo2" class="collapse">
                    <div class="item2">
                        <img src="../../assets/ecommerce/70198151151371186716153361908190710779287.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>
                    <div class="item2">
                        <img src="../../assets/ecommerce/free-png-kiwi-fruit-png-images-transparent-avocado-called-in-hindi-11563644223dcmuksuoff.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>

                    </div>
                    <div class="item2">
                        <img src="../../assets/ecommerce/kisspng-kyoho-white-wine-cardinal-grape-5aec3cb880c360.3221667515254314805274.png" alt="" style="width:100%;">
                    
                        <div style="font-size: 11px;padding-left: 0.5rem;">
                            <span style="font-size: 11px;color: grey;">oliquam quaerat volup...</span><br>
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            <img src="../../assets/ecommerce/kisspng-computer-icons-clip-art-black-star-5b25c87c161fe0.6121832515292028120906.png" alt="" style="width:11px">
                            
                            <br><span style="font-size: 11px;color:forestgreen;">$&nbsp;9.00</span>
                        </div>
                            
                    </div>                          
                    </div>     
                </div>
                
                
            </div>
            
            
            <!---------------------------------------------------------------------------------------------------->
            <app-contet-side-nav></app-contet-side-nav>


             </div>
        </section>


</body>
